<!-- HEADER -->
<%- include("./includes/header.ejs") %>

    <section class="hero | flex items-center justify-center">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="container mx-auto gap-4 flex items-center flex-col lg:flex-row">
                <!-- Left side: Title and Tagline -->
                <div class="lg:w-1/2">
                    <h1
                        class="text-4xl lg:text-6xl font-bold mb-4 text-primary-600 | animate__animated animate__fadeIn">
                        <%= hero?.title %>
                    </h1>
                    <p
                        class="font-semibold text-md lg:text-lg mb-4 text-primary-600 | animate__animated animate__fadeIn animate__delay-1s">
                        <%= hero?.tagline %>
                    </p>
                    <a href="#"
                        class="call-to-action | py-3 fs-nav hover:text-gray-200 text-white | animate__animated animate__fadeIn animate__delay-2s">Get
                        Started
                        Now</a>
                </div>

                <!-- Right side: Feature Image -->
                <div class="image-bg-sect | lg:w-1/2 mt-6 lg:mt-0">
                    <img src="/images/business-plan-illustrator.svg" alt="Feature image" loading="lazy"
                        class="animate__animated animate__fadeIn animate__delay-1s">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-4">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <h2 class="text-center text-3xl lg:text-4xl font-bold ff-headline text-primary-600 | fade-in">
                <%= section2.title %>
            </h2>
            <p class="text-center max-w-4xl mx-auto text-lg lg:text-xl font-semibold mb-4 text-primary-600 | fade-in">
                <%= section2.body %><br />
                    <a href="#" class="text-link | link-icon text-md lg:text-lg font-semibold mt-4 block">Find Out
                        More</a>
            </p>
        </div>
    </section>



    <section class="pt-8">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="container mx-auto gap-4 flex items-center flex-col lg:flex-row">
                <!-- Left side: Title and Tagline -->
                <div class="order-2 lg:order-1 lg:w-1/2">
                    <h2 class="text-3xl lg:text-4xl font-bold ff-headline text-primary-600 | fade-in">
                        <%= section3.title %>
                    </h2>
                    <p class="text-lg lg:text-xl font-semibold text-primary-600 | fade-in"><%= section3.body %><br />
                        <a href="#" class="call-to-action | py-3 fs-nav hover:text-gray-200 text-white mt-4">Get Started
                            Now</a>
                    </p>
                </div>

                <!-- Right side: Feature Image -->
                <div class="order-1 lg:order-2 lg:w-1/3 mt-6 lg:mt-0">
                    <img src="<%= section3.featureImage %>" alt="Feature Image" loading="lazy"
                        class="w-full h-auto rounded-lg">
                </div>
            </div>
        </div>
    </section>


    <section class="py-8">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="grid grid-cols-3 items-center gap-4 lg:gap-6 mx-auto">
                <div class="col-span-3 md:col-span-1">
                    <!-- Item 1 -->
                    <div class="flex items-start justify-center h-full flex-col | fade-in">
                        <h2 class="text-3xl lg:text-4xl font-bold ff-headline text-primary-600">  <%= section4.title %>
                        </h2>
                        <p class="max-w-4xl mx-auto text-md lg:text-xl font-semibold mb-4 text-primary-600">  <%= section4.body %></p>
                    </div>
                </div>
                <% for( let index = 0; index < section4.solutionList.length; index++ ) { %>                
                    <div class="col-span-3 md:col-span-1 h-full">
                        <!-- Item 2 -->                        
                        <div class="p-4 text-white text-center h-full flex flex-col justify-between | fade-in"
                            data-delay="<%- section4.solutionList[index].animate_delay %>">
                            <img src="<%- section4.solutionList[index].img %>" alt="" loading="lazy">
                            <h6 class="text-lg font-semibold text-primary-600"><%- section4.solutionList[index].title %></h6>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>
    </section>



    <!-- FOOTER -->

    <%- include("./includes/footer.ejs") %>